@use "./mixins" as *;

body {
  font-size: initial;
}

html {
  .van-cell-group--inset {
    margin: 0;
    overflow: visible;
    @include card-container;
  }

  .van-cell {
    background: transparent;
  }

  .van-card {
    @include card-container;
  }
}
