@import "modern-normalize/modern-normalize.css";

@font-face {
  font-family: DingTalk JinBuTi;
  src: url("@/assets/fonts/dingtalk-jin-bu-ti.ttf");
}

@font-face {
  font-family: DingTalk Sans;
  src: url("@/assets/fonts/dingtalk-sans.ttf");
}

:root {
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
}
