:root {
  /* 基础色板 */
  --palette-white: #ffffff;
  --palette-rose: #fff2ef;
  --palette-coral: #ed7461;
  --palette-pink: #f58888;
  --palette-black: #111111;
  --palette-success: #49df17;
  --palette-waiting: #addf17;
  --palette-info: #3a87fa;
  --palette-text-secondary: rgba(17, 17, 17, 0.65);
  --palette-text-tertiary: rgba(17, 17, 17, 0.45);
  --palette-border: rgba(17, 17, 17, 0.06);
}
