.page {
  box-sizing: border-box;
  padding-top: 16px;

  .decorationImg {
    pointer-events: none;
    user-select: none;
    padding: {
      left: 16px;
      right: 16px;
      top: 10px;
    }

    :global(van-image__img) {
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }
}
