@use "@/styles/mixins" as ui;

.form {
  @include ui.form-container;

  .fieldGroup {
    @include ui.field-group;

    .fieldLabel {
      @include ui.field-label;
    }

    .fieldInput {
      @include ui.custom-input;
    }
  }

  .eyeButton {
    @include ui.eye-button;
  }

  .submitArea {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
}
