.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--van-background);
}

.layoutMain {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navBar {
  :global(.van-icon-arrow-left:before) {
    color: black;
  }
}
