.default-layout {
  display: flex;
  flex-direction: column;
  height: 100svh;
  overflow: hidden;
  background-color: var(--van-background);

  .loading-container {
    flex-grow: 1;
    height: 0;
  }

  &__main {
    height: 100%;
    overflow-y: auto;
  }

  &__navbar {
    --van-nav-bar-icon-color: var(--van-text-color-2);
  }
}
