.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #fff2ef;
}

.layoutMain {
  flex: 1;
  position: relative;
}

.navBar {
  :global(.van-icon-arrow-left:before) {
    color: var(--van-text-color-2);
  }
}
