.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--van-background);
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  :global(.van-icon-arrow-left:before) {
    color: black;
  }
}
