// 加载态
.loading-container {
  position: relative;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--jh-walk-loading-container-overlay-background, #ffffff);
    opacity: 75%;
    transition: opacity 0.3s;
  }
}
