// 团队信息页
.page :global(.default-layout__main) {
  font-family: "Barlow", "DingTalk Sans";

  :global(.van-pull-refresh) {
    height: 100%;
    overflow-y: auto;

    .contentContainer {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      padding: {
        top: 20px;
        bottom: 40px;
      }

      & > * {
        flex-shrink: 0;
      }

      .cellValueTag {
        margin-right: 4px;
      }

      .overviewCard {
        :global(.van-cell__value) {
          font-weight: 500;
        }
      }

      .middleWhiteSpace {
        flex-grow: 1;
        flex-shrink: 1;
      }

      .buttonContainer {
        margin-top: 24px;
      }
    }
  }
}
