// 数据新鲜度 支持手动刷新数据
.component {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #979797;

  .icon {
    width: 12px;
    height: 12px;
  }

  .freshnessText {
    display: flex;
    font-size: 12px;
    user-select: none;

    .updateTime,
    .retryingTip,
    .errorTip {
      min-width: 174px;
    }

    .retryingTip,
    .errorTip {
      text-align: right;
    }

    .errorTip {
      color: var(--van-danger-color);
    }
  }

  .refreshBtn,
  .refreshLoading {
    width: 14px;
    height: 14px;
  }
}
