.card {
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  color: #1f2937;
}

:global(.van-button) {
  width: calc(100% - 32px);
  margin: 12px auto 0;
}
